<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Proxy POST login" stopProcessing="true">
          <match url="^login$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" />
          </conditions>
          <action type="Rewrite" url="http://localhost/adminapi/login" />
        </rule>

        <rule name="Proxy api" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost/adminapi/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>